node_modules
**/node_modules
dist
**/dist
.next
**/.next
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo

.tools
.data
tmp

.git
.github
.gitignore
.claude

.env
.env.*
!.env.example

*.md
!README.md

test
**/*.test.ts
**/*.test.tsx
